<h1>Impressum</h1>
<p>
    Diese Seite wird nicht offiziell von der Jungen Philharmonie Erlangen betrieben.
    <br />
    <br />
    Stattdessen zuständig ist:<br />
    Martin Grotz<br />
    Erlanger Str. 60a<br />
    91096 Möhrendorf<br />
<br />
    martin(punkt)grotz(at)gmx(punkt)de<br />
    Twitter: @mobilgroma    <br />
</p>