<section id="new_kartenwunsch">
  <%= render JpeKartenwunschWeb.KartenwunschSharedView, "kartenwunsch.html", assigns %>
</section>

<section id="insert_existing_id">
  <%= form_for @conn, Routes.bestehend_path(@conn, :redirect_to_edit), fn f -> %>
    <label>
      Bestehende Nummer: <%= text_input f, :unique_id, required: true, minlength: 6, maxlength: 6 %>
    </label>
    <%= submit "Aufrufen" %>
  <% end %>
</section>
